h4 {
    color: var(--title-400);
    font-weight: 400;
    margin: 24px 0;
}
a {
    font-size: 16px;
    font-weight: 300;
    color: var(--primary-color);
    text-decoration: none;
    &:hover {
        color: var(--primary-color-hover);
    }
}

.p-input-icon-left .pi {
    color: var(--input-placeholder) !important;
}

.submit-button {
    width: 100%;
    border-radius: 8px;
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #1E1E1E;
    font-size: 25px;
    font-weight: 200 !important;
    line-height: 38px;
    text-transform: uppercase;
    transition: .5s;
    &:hover {
        background: var(--primary-color-hover);
    }
}