<h4 class="text-center">WELCOME</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="field mb-3">
        <label for="email" class="block">Email</label>
        <span class="p-input-icon-left">
            <i class="pi pi-envelope"></i>
            <input id="email" type="email" aria-describedby="email-help" placeholder="email@company.com" pInputText formControlName="email" />
        </span>
    </div>
    <div class="field mb-3">
        <label for="password" class="block">Password</label>
        <span class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input id="password" type="password" aria-describedby="password-help" placeholder="********" pInputText formControlName="password" />
        </span>
    </div>
    <div class="col-12 my-4 text-center">
        <a routerLink="/reset-password-request">Forgot Password?</a>
    </div>

    <div class="col-12">
        <button pButton pRipple type="button" label="LOGIN" class="p-button-lg submit-button"></button>
    </div>
</form>