.dark {
    --input-bg: #1F1D2B;
    --card-bg: #1F1D2B;
    --input-label: #9E9BAD;
    --input-placeholder: #9E9BAD;

    --title-400: #CECBDE;

    --link-bg: #252836;
    --link-bg-2: #393C4D;
    --link-bg-hover: #313447;
    --link-color: #706D7E;

    --primary-color: #00C5D6;
    --primary-color-hover: #00b2c2;
    --text-100: #ffffff;
    --text-200: #f7f8ff;
    --text-300: #706D7E;
    --text-400: #484848;
    --text-500: #383838;
    --text-600: #282828;
    --text-700: #181818;

    --bg-400: #CECBDE;
    --bg-500: #b1aebe;

    --main-bg: #252836;

    --dropdown-bg: #10141A4D;
    --dropdown-border: #464353;

    --dark-btn: #10141A;
    --dark-btn-hover: #161b24;


    --blue: #003770;
    --blue-hover: #003a78;
    --green: #4DBF77;
    --yellow: #FEC42A;
    --red: #FF3F69;
}