.p-button,
.p-inputtext {
    box-shadow: none !important;
}
.p-inputtext {
    width: 100%;
    background: var(--input-bg);
    border-color: var(--input-bg);
    color: var(--text-100);
    &::placeholder {
        color: var(--input-placeholder);
    }
}
.field {
    display: flex;
    flex-direction: column;
}

